*{
    margin:0;
}



.wrapper{
    display: flex;
    flex-wrap: wrap;
    background-color: rebeccapurple;
}

.box {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#movie{
    width: 19%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 8px;
    box-sizing: border-box;
}
nav{
    height: 80px;
    width: 100%;
    color: white;
    background-color: grey;
}
img{
    width: 250px;
    height: 250px;
}
footer{
    height: 80px;
    text-align: center;
    padding-top: 20px;
    background-color: grey;
    box-sizing: border-box;
}